{% extends "layouts/warbreck/layout-search.html" %}

{% block beforeContent %}

{% include "components/key-details/anita-nalini.html" %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">

     {% include "components/sub-nav/claimant-history.html" %}

<div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-l">Claimant history</h2>
    <h2 class="govuk-heading-m">27 July 2020</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Response
        </dt>
        <dd class="govuk-summary-list__value">
          Old account details differ
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Benefit type
        </dt>
        <dd class="govuk-summary-list__value">
          Attendance Allowance
        </dd>
      </div>
    </dl>

     <p><a class="govuk-link" href="#">View more</a></p>


  </div>

  </div>

{% endblock %}
