<h2 class="govuk-heading-l">Task details</h2>

<strong class="govuk-tag govuk-tag--red">
  Urgent
</strong>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name of account holder
    </dt>
    <dd class="govuk-summary-list__value">
      {{person_firstName}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      National Insurance number
    </dt>
    <dd class="govuk-summary-list__value">
      {{person_theirNino}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date received
    </dt>
    <dd class="govuk-summary-list__value">
      {{details_dateReceived}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Benefit type
    </dt>
    <dd class="govuk-summary-list__value">
      {{details_benefitType}}
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Current bank account details</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Sort code"
      },
      value: {
        text: "112233"
      },
      actions: {
        items: [
          {
          }
        ]
      }
    },
    {
      key: {
        text: "Account number"
      },
      value: {
        text: "12345678"
      },
      actions: {
        items: [
          {
          }
        ]
      }
    },
    {
      key: {
        text: "Roll number"
      },
      value: {
        text: "192834628281"
      },
      actions: {
        items: [
          {
          }
        ]
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m">New bank account details</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Sort code"
      },
      value: {
        text: "224356"
      },
      actions: {
        items: [
          {
          }
        ]
      }
    },
    {
      key: {
        text: "Account number"
      },
      value: {
        text: "87465223"
      },
      actions: {
        items: [
          {
          }
        ]
      }
    },
    {
      key: {
        text: "Roll number"
      },
      value: {
        text: "A12345678"
      },
      actions: {
        items: [
          {
          }
        ]
      }
    }
  ]
}) }}
