{% extends "layouts/warbreck/layout-search-case-details.html" %}

{% set person_firstName = "Mark Jones" %}
{% set person_theirNino = "AA 11 22 33 B" %}

{% block content %}

   <div class="govuk-grid-row">


   <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">Task details</h2>


    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name of account holder
        </dt>
        <dd class="govuk-summary-list__value">
          Mark Jones
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          NINO
        </dt>
        <dd class="govuk-summary-list__value">
          AA 11 22 33 B
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last updated
        </dt>
        <dd class="govuk-summary-list__value">
          03/08/2021
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Updated by
        </dt>
        <dd class="govuk-summary-list__value">
          Mary Smith
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Benefit type
        </dt>
        <dd class="govuk-summary-list__value">
          Carer's Allowance
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Response
        </dt>
        <dd class="govuk-summary-list__value">
          Unable to update
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Current bank account details</h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Sort code"
          },
          value: {
            text: "112233"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        },
        {
          key: {
            text: "Account number"
          },
          value: {
            text: "12345678"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        },
        {
          key: {
            text: "Roll number"
          },
          value: {
            text: "192834628281"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">New bank account details</h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Sort code"
          },
          value: {
            text: "224356"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        },
        {
          key: {
            text: "Account number"
          },
          value: {
            text: "87465223"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        },
        {
          key: {
            text: "Roll number"
          },
          value: {
            text: "A12345678"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        }
      ]
    }) }}

  </div>


  </div>

{% endblock %}
