{% extends "layouts/warbreck/layout-search.html" %}

{% block beforeContent %}

{% include "components/key-details/mark-jones.html" %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}

{% endblock %}

{% block content %}

 <form action="completed-no" method="post">

   <div class="govuk-grid-row">

     {% include "components/sub-nav/task-details.html" %}

   <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-l">Task details</h2>


    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last updated
        </dt>
        <dd class="govuk-summary-list__value">
          3 August 2021
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Benefit type
        </dt>
        <dd class="govuk-summary-list__value">
          Attendance Allowance
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Response
        </dt>
        <dd class="govuk-summary-list__value">
          Old account details differ
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Updated by
        </dt>
        <dd class="govuk-summary-list__value">
          Michael Hughes
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Current bank account details</h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Sort code"
          },
          value: {
            text: "112233"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        },
        {
          key: {
            text: "Account number"
          },
          value: {
            text: "12345678"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        },
        {
          key: {
            text: "Roll number"
          },
          value: {
            text: "192834628281"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">New bank account details</h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Sort code"
          },
          value: {
            text: "224356"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        },
        {
          key: {
            text: "Account number"
          },
          value: {
            text: "87465223"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        },
        {
          key: {
            text: "Roll number"
          },
          value: {
            text: "A12345678"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        }
      ]
    }) }}

  </div>


  </div>

{% endblock %}
