{% extends "layouts/warbreck/layout-case-details.html" %}

{% set person_firstName = "Jane Doe" %}
{% set person_theirNino = "XX 12 33 44 A" %}
{% set details_benefitType = "Industrial Injuries Disablement Benefit" %}
{% set details_dateReceived = "17/08/2021" %}

{% block content %}

<div class="govuk-grid-row">

  {% include "components/sub-nav/task-details-paused.html" %}

<div class="govuk-grid-column-full">

{% include "components/task-details/task-details-list.html" %}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Close task",
        href: "response"
      }) }}
    </div>
</div>

{% endblock %}
