{% extends "layout.html" %}

{% block pageTitle %}
Advice of wrong account for credit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds-from-desktop">

     <h1 class="govuk-heading-l">
       Add a response
     </h1>

      {{ govukRadios({
       idPrefix: "where-do-you-live",
       name: "where-do-you-live",
       fieldset: {
         legend: {
           text: "",
           isPageHeading: true,
           classes: "govuk-fieldset__legend--l"
         }
       },
       items: [
         {
           value: "Already updated",
           text: "Already updated"
         },
         {
           value: "AWAC updated",
           text: "AWAC updated"
         },
         {
           value: "Await bank wizard",
           text: "Await bank wizard"
         },
         {
           value: "Dormant or closed",
           text: "Dormant or closed"
         },
         {
           value: "No roll number quoted by building society",
           text: "No roll number quoted by building society"
         },
         {
           value: "Notepad only updated",
           text: "Notepad only updated"
         },
         {
           value: "Old account details differ",
           text: "Old account details differ"
         },
         {
           value: "Overseas customer - BLS6 sent ",
           text: "Overseas customer - BLS6 sent "
         },
         {
           value: "Repeat rejections test ",
           text: "Repeat rejections test "
         },
         {
           value: "Sensitive record access",
           text: "Sensitive record access"
         },
         {
           value: "Unable to update - BLS6 sent",
           text: "Unable to update - BLS6 sent"
         },
         {
           value: "Unable to update",
           text: "Unable to update"
         }
       ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save response",
          href: "jane-doe-response-added"
        }) }}

        <a class="govuk-link" href="jane-doe">Cancel</a>
      </div>

</div>
</div>


{% endblock %}
