{% extends "layout.html" %}

{% block pageTitle %}
Advice of wrong account for credit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Home</h1>

      <h2 class="govuk-heading-m">There are 10 cases outstanding</h2>

      {{ govukButton({
        text: "View outstanding cases",
        href: "outstanding-awacs"
      }) }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Start a new case</h2>

      {{ govukButton({
        text: "Start now",
        href: "mark-richards"
      }) }}


       </div>
      </div>


{% endblock %}
