{% extends "layout.html" %}

{% block pageTitle %}
Advice of wrong account for credit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds-from-desktop">

     <h1 class="govuk-heading-l">
       Mark Richards
       <span class="govuk-caption-l">BB 11 22 33 B</span>
     </h1>


      {{ govukWarningText({
        text: "National search required - enter checkbrick",
        iconFallbackText: "Warning"
      }) }}

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date and time
          </dt>
          <dd class="govuk-summary-list__value">
            24/03/2021 at 11:32am
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Benefit
          </dt>
          <dd class="govuk-summary-list__value">
            ESA
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--credit">
              Open
            </strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Response
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Add a response</a>
          </dd>
        </div>
      </dl>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      <h2 class="govuk-heading-m">Current bank account details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Sort code"
            },
            value: {
              text: "112233"
            },
            actions: {
              items: [
                {
                }
              ]
            }
          },
          {
            key: {
              text: "Account number"
            },
            value: {
              text: "12345678"
            },
            actions: {
              items: [
                {
                }
              ]
            }
          }
        ]
      }) }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">


      <h2 class="govuk-heading-m">New bank account details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Sort code"
            },
            value: {
              text: "112233"
            },
            actions: {
              items: [
                {
                }
              ]
            }
          },
          {
            key: {
              text: "Account number"
            },
            value: {
              text: "12345678"
            },
            actions: {
              items: [
                {
                }
              ]
            }
          }
        ]
      }) }}

        {{ govukButton({
          text: "Mark as complete",
          href: "home-success"
        }) }}

        <p><a href="#" class="govuk-link">Reallocate this case</a></p>

</div>
</div>

{% endblock %}
