{% extends "layouts/warbreck/layout-search.html" %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}

{% endblock %}

{% block content %}

   <div class="govuk-grid-row">

     <div class="govuk-grid-column-full">

     <span class="govuk-caption-l">XX 12 33 44 A</span>
     <h1 class="govuk-heading-xl">Jane Doe</h1>

     </div>

     {% include "components/sub-nav/task-details.html" %}

<div class="govuk-grid-column-full">

    {% include "components/warbreck/task-details-list-jane-doe-no-blue.html" %}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Update task",
        href: "#"
      }) }}

      {{ govukButton({
        text: "Pause task",
        classes: "govuk-button--secondary",
        href: "home-paused"
      }) }}
    </div>
</div>

{% endblock %}
