{% extends "layouts/warbreck/layout-case-details.html" %}

{% set person_firstName = "Cumbria Council" %}
{% set person_theirNino = "CC 33 22 11 B" %}


{% block content %}

<div class="govuk-grid-row">

<div class="govuk-grid-column-full">
     <nav class="moj-sub-navigation" aria-label="Sub navigation">

  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="case-details">Task details</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" aria-current="page" href="claimant-history">Claimant history</a>
    </li>

</nav>
</div>
<div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-l">Claimant history</h2>
    <h2 class="govuk-heading-m">27 July 2020</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Response
        </dt>
        <dd class="govuk-summary-list__value">
          Old account details differ
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Benefit type
        </dt>
        <dd class="govuk-summary-list__value">
          Carer's Allowance
        </dd>
      </div>
    </dl>

     <p><a class="govuk-link" href="#">View more</a></p>


  </div>

  </div>

{% endblock %}
