{% extends "layouts/warbreck/layout-search-nav-input.html" %}

{% set notification_outstandingTasks = "36" %}
{% set notification_pausedTasks = "4" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

    <h1 class="govuk-heading-l">Outstanding tasks</h1>

    <table class="govuk-table">
    <thead class="govuk-table__head">
    <caption class="govuk-table__caption govuk-table__caption--m">The team have 36 tasks to complete</caption>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Benefit type</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Tasks</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Attendance Allowance</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Start</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Bereavement Benefit</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Start</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Bereavement Support Payments</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Start</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Disability Living Allowance</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Start</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Employment and Support Allowance <strong class="govuk-tag govuk-tag--red" style="margin-left: 40px">1 Urgent</strong></th>
      <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="jane-doe/case-details">Start</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Income Support</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">7</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Start</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Jobseeker's Allowance</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">9</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Start</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Maternity Allowance</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Start</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">State Pension</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Start</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Support for Mortgage Interest</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Start</a></td>
    </tr>
    </tbody>
    </table>


{% endblock %}
