{% extends "layouts/warbreck/layout-case-details.html" %}

{% set person_firstName = "Anita Nalini" %}
{% set person_theirNino = "CC 33 22 11 B" %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}

{% endblock %}

{% block content %}

 <form action="completed-no" method="post">

   <div class="govuk-grid-row">

     {% include "components/sub-nav/task-details.html" %}

<div class="govuk-grid-column-full">

    {% include "components/warbreck/task-details-list-anita-nalini.html" %}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Update task",
        href: "response"
      }) }}

      {{ govukButton({
        text: "Pause task",
        classes: "govuk-button--secondary",
        href: "#"
      }) }}
    </div>

  </div>


  </div>

{% endblock %}
