{% extends "layout.html" %}

{% block pageTitle %}
Advice of wrong account for credit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds-from-desktop">

     <h1 class="govuk-heading-l">
       Add a response
     </h1>

     <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="response-3" name="response" type="radio" value="Await bank wizard">
            <label class="govuk-label govuk-radios__label" for="response-3">
              Await bank wizard
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="response-4" name="response" type="radio" value="Dormant or closed">
            <label class="govuk-label govuk-radios__label" for="response-4">
              Dormant or closed
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="response-5" name="response" type="radio" value="No roll number quoted by building society">
            <label class="govuk-label govuk-radios__label" for="response-5">
              No roll number quoted by building society
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="response-6" name="response" type="radio" value="Notepad only updated">
            <label class="govuk-label govuk-radios__label" for="response-6">
              Notepad only updated
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="response-7" name="response" type="radio" value="Old account details differ">
            <label class="govuk-label govuk-radios__label" for="response-7">
              Old account details differ
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="response-8" name="response" type="radio" value="Overseas customer - BLS6 sent">
            <label class="govuk-label govuk-radios__label" for="response-8">
              Overseas customer - BLS6 sent
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="response-9" name="response" type="radio" value="Repeat rejections test">
            <label class="govuk-label govuk-radios__label" for="response-9">
              Repeat rejections test
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="response-10" name="response" type="radio" value="Sensitive record access">
            <label class="govuk-label govuk-radios__label" for="response-10">
              Sensitive record access
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="response-11" name="response" type="radio" value="Unable to update - BLS6 sent">
            <label class="govuk-label govuk-radios__label" for="response-11">
              Unable to update - BLS6 sent
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="response-12" name="response" type="radio" value="Unable to update">
            <label class="govuk-label govuk-radios__label" for="response-12">
              Unable to update
            </label>
          </div>
        </div>

      </fieldset>
    </div>


        {{ govukButton({
          text: "Close case",
          href: "home-success2"
        }) }}

        <p><a href="reallocate" class="govuk-link">Reallocate this case</a></p>

</div>
</div>


{% endblock %}
