{% extends "layout.html" %}

{% block pageTitle %}
Advice of wrong account for credit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      You have been reallocated a case by Tom Moore.</p>
      <p><a class="govuk-notification-banner__link" href="jane-doe">View case</a></p>

  </div>
</div>

    <h1 class="govuk-heading-l">Overview</h1>

    <h2 class="govuk-heading-m">My cases</h2>
    <p class="govuk-body">You have 10 cases to complete.</p>
    {{ govukButton({
      text: "View my cases",
      href: "my-work"
    }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Outstanding cases</h2>
    <p class="govuk-body">The team have 8 cases outstanding.</p>
    {{ govukButton({
      text: "View outstanding cases",
      href: "outstanding-cases"
    }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Search for a NINO</h2>
    <p class="govuk-body">Find a case by entering a customer's National Insurance number.</p>
    {{ govukButton({
      text: "Search",
      href: "#"
    }) }}


  </div>
</div>


{% endblock %}
