{% extends "layout.html" %}

{% block pageTitle %}
Advice of wrong account for credit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          The case has been closed.
        </h3>
      </div>
    </div>

    <h1 class="govuk-heading-l">Overview</h1>

    <h2 class="govuk-heading-m">Total cases</h2>
    <p class="govuk-body">The team has 100 cases to complete.</p>
    {{ govukButton({
      text: "Start a new case",
      href: "michael-jordan"
    }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Search for a NINO</h2>
    <p class="govuk-body">Search for a case by entering a National Insurance number.</p>
    {{ govukButton({
      text: "Search",
      href: "#"
    }) }}


  </div>
</div>


{% endblock %}
