{% extends "layout.html" %}

{% block pageTitle %}
Advice of wrong account for credit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{{ govukBackLink({
  text: "Back",
  href: "start"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds-from-desktop">

     <h1 class="govuk-heading-l">
       Sarah Phillips
       <span class="govuk-caption-l">23 March 2021 - 11:23am</span>
     </h1>

     <h2 class="govuk-heading-m">23 March 2021 - 11:23am</h2>

     <dl class="govuk-summary-list">
       <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           Status
         </dt>
         <dd class="govuk-summary-list__value">
           <strong class="govuk-tag govuk-tag--green">Closed</strong>
         </dd>
       </div>
       <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           Response
         </dt>
         <dd class="govuk-summary-list__value">
           AWAC updated
         </dd>
       </div>
       <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           Benefit type
         </dt>
         <dd class="govuk-summary-list__value">
           ESA
         </dd>
       </div>
     </dl>

      <p><a class="govuk-link" href="#">View more</a></p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      <h2 class="govuk-heading-m">11 December 2020 - 1:23pm</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--green">Closed</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Response
          </dt>
          <dd class="govuk-summary-list__value">
            AWAC updated
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Benefit type
          </dt>
          <dd class="govuk-summary-list__value">
            ESA
          </dd>
        </div>
      </dl>

       <p><a class="govuk-link" href="#">View more</a></p>

       <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

       <h2 class="govuk-heading-m">2 July 2020 - 3:04pm</h2>

       <dl class="govuk-summary-list">
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Status
           </dt>
           <dd class="govuk-summary-list__value">
             <strong class="govuk-tag govuk-tag--green">Closed</strong>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Response
           </dt>
           <dd class="govuk-summary-list__value">
             Notepad only updated
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Benefit type
           </dt>
           <dd class="govuk-summary-list__value">
             ESA
           </dd>
         </div>
       </dl>

        <p><a class="govuk-link" href="#">View more</a></p>

</div>
</div>

{% endblock %}
