{% extends "layout.html" %}

{% block pageTitle %}
Advice of wrong account for credit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{{ govukBackLink({
  text: "Back",
  href: "home"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            The case has been reallocated to {{ data['reallocate'] }}.
          </h3>
        </div>
      </div>

      <div class="moj-page-header-actions__title">
<h1 class="govuk-heading-l">
<h1 class="govuk-heading-l">My cases (9)</h1>
</h1>
</div>

<div class="moj-page-header-actions__actions">

<div class="moj-button-menu">
<div class="moj-button-menu__wrapper">

<button type="submit" class="govuk-button moj-button-menu__item govuk-button moj-page-header-actions__action" data-module="govuk-button">
  Start a new case
</button>

</div>
</div>

</div>


          <table class="govuk-table" data-module="moj-sortable-table">

            <thead class="govuk-table__head">
            <tr class="govuk-table__row">

              <th scope="col" class="govuk-table__header" aria-sort="ascending">Date</th>

              <th scope="col" class="govuk-table__header" aria-sort="none">Benefit</th>

              <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>

            </tr>
            </thead>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" data-sort-value="B"><a href="#">13/03/2021</a></th>
                <td class="govuk-table__cell">AA</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Urgent</strong></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" data-sort-value="C"><a href="#">24/03/2021</a></th>
                <td class="govuk-table__cell">AA</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Urgent</strong></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" data-sort-value="D"><a href="#">24/03/2021</a></th>
                <td class="govuk-table__cell">ESA</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" data-sort-value="E"><a href="#">24/03/2021</a></th>
                <td class="govuk-table__cell">PIP</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" data-sort-value="F"><a href="#">25/03/2021</a></th>
                <td class="govuk-table__cell">AA</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" data-sort-value="G"><a href="#">25/03/2021</a></th>
                <td class="govuk-table__cell">ESA</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" data-sort-value="H"><a href="#">25/03/2021</a></th>
                <td class="govuk-table__cell">ESA</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" data-sort-value="I"><a href="#">25/03/2021</a></th>
                <td class="govuk-table__cell">PIP</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" data-sort-value="J"><a href="#">25/03/2021</a></th>
                <td class="govuk-table__cell">AA</td>
              </tr>
            </tbody>
            </table>



       </div>
      </div>


{% endblock %}
