{% extends "layout.html" %}

{% block pageTitle %}
Advice of wrong account for credit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds-from-desktop">

     <form action="my-work-reallocate" method="post" class="form">

     <h1 class="govuk-heading-l">
       Reallocate this case
     </h1>

     <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div id="contact-hint" class="govuk-hint">
          Select who you want to reallocate the case to.
        </div>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="reallocate-1" name="reallocate" type="radio" value="Joe Bloggs" data-aria-controls="conditional-reallocate-1">
            <label class="govuk-label govuk-radios__label" for="reallocate-1">
              Joe Bloggs
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="reallocate-2" name="reallocate" type="radio" value="Mary Swann">
            <label class="govuk-label govuk-radios__label" for="reallocate-2">
              Mary Swann
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="reallocate-3" name="reallocate" type="radio" value="Alby Atkinson">
            <label class="govuk-label govuk-radios__label" for="reallocate-3">
              Alby Atkinson
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="reallocate-4" name="reallocate" type="radio" value="Maria Gonzalez">
            <label class="govuk-label govuk-radios__label" for="reallocate-4">
              Maria Gonzalez
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="reallocate-5" name="reallocate" type="radio" value="Janet Black">
            <label class="govuk-label govuk-radios__label" for="reallocate-5">
              Janet Black
            </label>
          </div>
        </div>

      </fieldset>
    </div>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Reallocate"
        }) }}

        <a class="govuk-link" href="jane-doe">Cancel</a>
      </div>

      </form>

</div>
</div>


{% endblock %}
