<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="response-1" name="response" type="radio" value="AWAC updated">
        <label class="govuk-label govuk-radios__label" for="response-1">
          AWAC updated
        </label>
      </div>
      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="response-3" name="response" type="radio" value="Await bank wizard">
        <label class="govuk-label govuk-radios__label" for="response-3">
          Await bank wizard
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="response-4" name="response" type="radio" value="Dormant or closed">
        <label class="govuk-label govuk-radios__label" for="response-4">
          Dormant or closed
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="response-5" name="response" type="radio" value="No roll number quoted by building society">
        <label class="govuk-label govuk-radios__label" for="response-5">
          No roll number quoted by building society
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="response-6" name="response" type="radio" value="Notepad only updated">
        <label class="govuk-label govuk-radios__label" for="response-6">
          Notepad only updated
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="response-7" name="response" type="radio" value="Old account details differ">
        <label class="govuk-label govuk-radios__label" for="response-7">
          Old account details differ
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="response-11" name="response" type="radio" value="Unable to update - BLS6 sent">
        <label class="govuk-label govuk-radios__label" for="response-11">
          Unable to update - BLS6 sent
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="response-12" name="response" type="radio" value="Unable to update">
        <label class="govuk-label govuk-radios__label" for="response-12">
          Unable to update
        </label>
      </div>
    </div>

  </fieldset>

</div>
